#home {
    background-image: url('../../../../../../assets/images/home-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #009247;
    border-radius: 15px;
    margin-top: 1rem;
    padding-inline: 25px;
    margin-inline: 25px;
  }

  .row {
    height: 40vh;
  }

  .text-name {
    font-size: 36px;
    color: #EF9B28;
  }
