<section id="info-user" class="container mt-5">

    <div class="d-flex justify-content-center align-items-center">
        <a routerLink="/core/dashboard/profile/edit" class="text-muted ">
            Edit <mat-icon color="primary" class="edit-icon myPointer">edit</mat-icon>
        </a>

    </div>

    <div class="row  ">
        <div class="col-md-5 px-0 ">
            <div class="img-info d-flex justify-content-center align-items-center p-5">
                <div>
                    <img [src]="userInfo.imagePath ? baseUrl + userInfo.imagePath : defaultImg" alt="">
                    <h3 class="mt-2 text-center ">{{userInfo.userName}}</h3>
                </div>
            </div>
        </div>
        <div class="col-md-7 px-0">
            <div class="information-user  p-2">
                <div class="d-flex justify-content-center  align-items-center">
                    <h3 class="text-muted mx-3 ">information</h3>
                </div>
                <hr>
                <div class="d-flex justify-content-between mt-3">
                    <div>
                        <h3 class="text-muted">email</h3>
                        <p>{{userInfo.email}}</p>
                    </div>
                    <div>
                        <h3 class="text-muted  ">phone</h3>
                        <p>{{userInfo.phoneNumber}}</p>
                    </div>
                </div>
                <hr>
                <div class="d-flex justify-content-between">
                    <div>
                        <h3 class="text-muted ">countery</h3>
                        <p>{{userInfo.country}}</p>
                    </div>
                    <div class="icons">
                        <h3 class="text-muted ">Social Account</h3>
                        <div class="d-flex justify-content-center align-content-center  ">
                            <div class="icon d-flex justify-content-center align-items-center mx-3">
                                <i class="fa-brands fa-facebook fa-2xl"></i>
                            </div>
                            <div class="icon d-flex justify-content-center align-items-center">
                                <i class="fa-brands fa-linkedin-in fa-2xl"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</section>