@import "../../../../../../assets/styles/abstracts/colors";
@import "../../../../../../assets/styles/layout";
#info-user {
  width: 95%;

  h3 {
    color: #fff;
    text-transform: capitalize;
  }
  hr {
    color: $bg-main;
  }
}

.row {
  box-shadow: 0 1px 2px 0px rgba(239, 155, 40);
}

.img-info {
  background-color: $bg-main;
  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
}

.icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  &:hover {
    border: 3px solid $bg-second;
  }
}
a {
  text-decoration: none;
}
